// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #42d0ff;
$secondary: #3ce8e5;
$accent: #4effca;

$white: #f1e9e9;
$dark: #1d1d1d;

$positive: #3ce884;
$negative: #ff5c87;
$info: #42ff5c;
$warning: #ff9c36;
